header {
    background-image: url(../img/shoepic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height:150vh ;
}

.dan {
    text-align: center;
    color: white;
}

.logo {
    padding-top:300px;
    
}

.log {
    padding-top: 230px;
}

.text h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    margin-top: 50px;
    
}

.del h1 {
    font-family: 'Plaster', cursive;
    font-size: 50px;
    padding-top: 30px;
}

h6 {
    padding-top: 10px;
    font-family: 'Bellefair', serif;
    letter-spacing: 1.5px;
    font-size: 15px;
}

p {
    font-family: 'Bellefair', serif;
    font-size: 20px;
}


.about {
    text-align: center;
}

.computer {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/computerpic.jpg);
    background-size: cover;
    margin-top: 40px;
} 

#service{
  text-align: center;
  color: white;  
  padding: 70px 0;
}

h3 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
}


#overOne {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
}

#detailOne {
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    color: white;
    font-size: 40px;
    border: 3px solid white;
    padding: 50px 30px;
}



#overTwo {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}


#detailTwo{
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    border: 3px solid white;
    padding: 50px 30px;
}



#overThree {
    background: rgba(129, 79, 13, 0.692);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
}


#detailThree{
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    color: white;
    font-size: 40px;   
    border: 3px solid white;
    padding: 50px 30px;
}


#overFour {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(5, 2, 58, 0.7);
    display: none;
}


#detailFour{
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    color:white;
    font-size: 50px;
    border: 3px solid white;
    padding: 45px 35px;
}

#overFive {
    background: rgba(80, 83, 83, 0.747);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
}


#detailFive{
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    color: white;
    font-size: 40px; 
    border: 3px solid white;
    padding: 55px 30px;

}


#overSix {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
}


#detailSix{
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    color:white;
    font-size: 40px;
    border: 3px solid white;
    padding: 50px 15px;
}


#overSeven {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
}


#detailSeven{
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    color: white;
    font-size: 40px;
    border: 3px solid white;
    padding: 50px 58px;
}



#overEight {
    background: rgba(66, 65, 15, 0.808);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
}


#detailEight{
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    display: none;
    color:white;
    font-size: 40px;
    border: 3px solid white;
    padding: 50px 5px;
}


.contact {
    background-image: url(../img/footerpic.jpg);
    background-size: cover;
    margin-top: 30px;
}

.contact h3 {
    color: white;
}
